<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Agregar</servlet-name>
        <servlet-class>Servelets.Agregar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarD</servlet-name>
        <servlet-class>Servelets.EliminarD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarD</servlet-name>
        <servlet-class>Servelets.ModificarD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarF</servlet-name>
        <servlet-class>Servelets.AgregarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarF</servlet-name>
        <servlet-class>Servelets.EliminarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarF</servlet-name>
        <servlet-class>Servelets.ModificarF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarC</servlet-name>
        <servlet-class>Servelets.AgregarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarC</servlet-name>
        <servlet-class>Servelets.EliminarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarC</servlet-name>
        <servlet-class>Servelets.ModificarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarA</servlet-name>
        <servlet-class>Servelets.AgregarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarA</servlet-name>
        <servlet-class>Servelets.EliminarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarA</servlet-name>
        <servlet-class>Servelets.ModificarA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarTD</servlet-name>
        <servlet-class>Servelets.AgregarTD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTD</servlet-name>
        <servlet-class>Servelets.EliminarTD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTD</servlet-name>
        <servlet-class>Servelets.ModificarTD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarTC</servlet-name>
        <servlet-class>Servelets.AgregarTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarTC</servlet-name>
        <servlet-class>Servelets.EliminarTC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarTC</servlet-name>
        <servlet-class>Servelets.ModificarTC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Agregar</servlet-name>
        <url-pattern>/Agregar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarD</servlet-name>
        <url-pattern>/EliminarD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarD</servlet-name>
        <url-pattern>/ModificarD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarF</servlet-name>
        <url-pattern>/AgregarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarF</servlet-name>
        <url-pattern>/EliminarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarF</servlet-name>
        <url-pattern>/ModificarF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarC</servlet-name>
        <url-pattern>/AgregarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarC</servlet-name>
        <url-pattern>/EliminarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarC</servlet-name>
        <url-pattern>/ModificarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarA</servlet-name>
        <url-pattern>/AgregarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarA</servlet-name>
        <url-pattern>/EliminarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarA</servlet-name>
        <url-pattern>/ModificarA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarTD</servlet-name>
        <url-pattern>/AgregarTD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTD</servlet-name>
        <url-pattern>/EliminarTD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTD</servlet-name>
        <url-pattern>/ModificarTD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarTC</servlet-name>
        <url-pattern>/AgregarTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarTC</servlet-name>
        <url-pattern>/EliminarTC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarTC</servlet-name>
        <url-pattern>/ModificarTC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
